@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
    var isAuthenticated = User?.Identity?.IsAuthenticated == true;

    var profilePhoto = user?.Photo;
    var userName = user?.UserName;
    var userRole = user?.Role;
}


@if (isAuthenticated)
{
    <ul class="navbar-nav ms-auto">

        @if (userRole == "Manager")
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu Actions
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Menu</a></li>
                    <li><a class="dropdown-item" asp-controller="Manager" asp-action="CreateMenuItem">Create Menu Item</a></li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="OrderIndex">Order</a>
        </li>
       
        @if (userRole == "Manager")
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manager Actions
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Manager" asp-action="AccountsManagement">Accounts Management</a></li>
                </ul>
            </li>
        }

        @if(userRole == "Employee")
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Employee Actions
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Manager" asp-action="CreateAccount">Create Account</a></li>
                </ul>
            </li>
        }

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/images/profileAvatars/@profilePhoto" class="img-fluid rounded-circle profilenavbar-img me-1">Account
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="@Url.Action("AccountProfile","Account", new{username = userName})">Manage Profile</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
    </ul>
}
