@model ApplicationUser
@{
    ViewData["Title"] = "Confirm Email and Phonenumber";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<h1>Confirm Email and Phone</h1>

<h3>Please confirm your email:</h3>
<p>@Model.Email</p>

<h3>Please confirm your primary phone number</h3>
<p>@Model.PhoneNumber</p>

<form method="post" asp-action="ConfirmEmailAndPhonePost">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="PhoneNumber" />
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

