@{
    ViewData["Title"] = "Home Page";
}






    <section class="menu-section">
        <h2>Variedades de Hambuerger:</h2>

        <div class="menu-item">
            <img src="~/images/Comida/Hambuerger.png" alt="Hamburguesa">
            <h3>Hamburguesa Regularr</h3>
            <p>Deliciosa Hambuerger con carne, lechuga, tomate y queso.</p>
            <center><span>$5.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>


        <div class="menu-item">
            <img src="~/images/Comida/Hambuegervagena.png" alt="Hamburguesavegana">
            <h3>Hamburguerger vegena</h3>
            <p>Deliciosa Hambuerger vegena.</p>
            <center> <span>$8.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>

        <div class="menu-item">
            <img src="~/images/Comida/bbqbuerger.png" alt="Hamburguesabbq">
            <h3>Hambuerger vegena</h3>
            <p>Deliciosa Hambuerger con salsa bbq y bacon.</p>
            <center><span>$9.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>
    </section>


    <section class="menu-section">
        <h2>Variedades de pasta:</h2>
        <div class="menu-item">
            <img src="~/images/Comida/spagetti.png" alt="Pastaspaggeti">
            <h3>Spagetti</h3>
            <p>Deliciosa Spagetti con salsa roja.</p>
            <center><span>$12.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>

        <div class="menu-item">
            <img src="~/images/Comida/alfredo.png" alt="Pastasalfredo">
            <h3>Pasta alfredo</h3>
            <p>Deliciosa Pasta alfredo con salsa blanca.</p>
            <center><span>$14.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>

        <div class="menu-item">
            <img src="~/images/Comida/lasagna.png" alt="Pastalasagna">
            <h3> Lasagna</h3>
            <p>Deliciosa Lasagna con queso crema,queso y salsa roja.</p>
            <center><span>$14.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>


    </section>


    <section class="menu-section">
        <h2>Variedades de postre:</h2>
        <div class="menu-item">
            <img src="~/images/Comida/cheescake.png" alt="Cheesecake">
            <h3>Cheesecake</h3>
            <p>Delicioso cheesecake con queso cream,queso fresco</p>
            <center><span>$5.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>

        <div class="menu-item">
            <img src="~/images/Comida/chocolate.png" alt="Chocolate">
            <h3>Bizcocho de chocolate</h3>
            <p>Delicioso bizcocho de chocolate</p>
            <center><span>$5.99</span></center>

            <button class="add-to-cart-button">Agregar al carrito</button>
        </div>

        </section>

    <div id="cart">
        <h2>Carrito de Compras</h2>
        <ul id="cart-items"></ul>
    </div>

